.storypage-wrapper{
    height: 100vh;
    width: 100%;
    position: relative;
    background-color: rgb(241, 239, 221);
}
.storypage-title-wrapper{
    height:100vh;
    width: 100%;
    background-color: rgb(247, 152, 0);
    position: absolute;
    z-index: 2;
}
.storypage-passage-container{
    font-family: 'Nanum Pen Script', cursive;
    font-size:20pt;
    font-weight: bold;
    width: 90%;
    margin: auto;
    color: rgb(40, 37, 115);

}