.quiz{
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 2;
    padding: 5%;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
    background-size: cover;
    border-radius: 20px;
}
.quiz-container{
    width: 100%;
}
.option-question{
    width: 100%;
    padding: 5%;
    box-sizing: border-box;
    flex:1;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 20px;
    box-shadow: -2px 1px 10px black;
    font-family: 'Nanum Pen Script', cursive;
    font-weight: bold;
    font-size: 15pt;
    color: rgb(39, 39, 39);
    border: 0;
}

.option-answers{
    width: 100%;
    background-color:  rgba(255, 255, 255, 0.5);
    padding: 5%;
    margin-top: 10px;
    border-radius: 20px;
    box-shadow: -2px 1px 10px black;
    font-family: 'Nanum Pen Script', cursive;
    font-weight: bold;
    color: rgb(39, 39, 39);
    border: 0;
}
.option-answers:hover{
    box-shadow: 0px 0px 20px black;
    cursor: pointer;
}